/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 //= require_tree ../../../vendor/assets/stylesheets/.
//= require_tree .
 //= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

// .nav-default .nav-selected, .nav-default .nav-selected:hover { sidenav list type selected color
//     color: #a6a6a6;
//     cursor: default;

// li border
    // border: 1px solid #dcdce0;
    
// nav border bottom
    // border-bottom: 1px solid #e6e6e8;

@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
body {
      // padding-top: 70px;
      // padding-bottom: 30px;
      height: 100%;
      width: 100%;
      background-color: #f4f4f6;
      // background: #1f1f1f;
      // margin-left: 300px; 
}

#sidenav a {
      margin-top: -1235px;
      margin-left: 2px;
      color: #cccccc;
}



a {
  color: #000
  // color: #cccccc;
  
}

a:hover {
  color: #50bcb6;
}


ul {
      list-style-type: none;
      margin-bottom: -1px;
}

li {
  background-color: white;
      border-style: solid;
      border-width: thin;
      border-color: #dcdce0;
      // border-color: #ccc;
      // padding-top: 8px;
      padding-bottom: 16px;
      height: 80px;
      width: 962px;
      margin-left: 100px;
      clear: both;

}

li a {
      margin-left: 9px;

}

img {
      cursor: pointer;
      // display: block;
      // height: 26px;
      // left: 7px;
      // margin-top: 10px;
      overflow: hidden;
      // text-indent: -99em;
      // top: .4em;
      // width: 80px; 
      position: absolute;
      z-index: 8002;
}

nav {
      padding:0;
      margin:0; 
      // padding-left: 20px; 
      height: 50px; 
      text-align:center; 
      padding-top: 8px;
      border-bottom-color: #e6e6e8;
      // border-bottom-color: #383737;
      border-bottom-style: solid;
      border-bottom-width: thin;
}

.rainbow-bars1 {
      background-color: #afecc3;
      float: left;
      height: 4px;  
      width: 25%;
}
.rainbow-bars2 {
      background-color: #84c3c0;
      float: left;
      height: 4px;
      width: 25%;
}

.rainbow-bars3 {
      background-color: #d45a68;
      float: left;
      height: 4px;
      width: 25%;
}

.rainbow-bars4 {
      background-color: #ecbf63;
      float: left;
      height: 4px;
      width: 25%;
}

.list-type {
    color: #000;
    float: left;
    font-size: 2.2em;
    height: auto;
    line-height: 1em;
    margin-left: 111px;
    margin-top: 34px;
    text-indent: 0;
    width: auto;
    white-space: nowrap;
    font-weight: normal;
}

.name {
      margin-top: 500px;
      height: 20px;
      position: absolute;  
      left: 160px;
      top: 7px;
      width: 100%;
      -webkit-user-select: none;
}

.bree {
  margin-bottom: 40px;
  margin-left: 700px;
      color: #000;
  // color: #FFFFFF;
  
}

.bree a:hover {
  color: #50bcb6;
}

.current {
  text-align: right;
}

.fixplease {
  padding-right: 67px;
}

.container {
    margin-left: 68px;
    margin-top: -75px;
    margin-right: 42px;
    float: right;
}


.li-images {
  width: 102px;
  height: 78px;
}

.link-title {
    margin-top: 20px;
    margin-left: 120px;
    font-size: 15px
}

.link-url {
    margin-top: 12px;
    margin-left: 120px;
    font-size: .83em;
    font-weight: normal;
}
.link-url a{
  color: #999;
    // color: #dcdce0;
}
.link-url a:hover {
  color: #50bcb6;
}

.restful-links {
  margin-left: 112px;
}

.hover-links {
  float: right;
  margin-right: 33px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
      margin: 5px 0;
}
/************ side nav ****************/
.sidenav {
    float: left;
    margin-top: 13px;
    margin-left: 13px;
    width: 97px;
}

.line {
  height: 2px;
  width: 20px;
  margin-top: 15px;
  margin-left: 27px;
  background-color: #383737;
}

.myfavorite a {
  margin-top: 35px;
  margin-left: 27px;
  text-color: #a9a9a9;
}

.addlinks {
  margin-top: 15px;
  margin-left: 27px;
}


.home {
  margin-top: 15px;
  margin-left: 27px;
}

.archives {
  margin-top: 10px;
  margin-left: 27px;
}

/******************* show page **********************/

.reader-content {
  font-family: serif;
  max-width: 512px;
      width: auto;
    margin: 0 auto;
    color: #313131;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-user-select: auto;
}
.doctitle {
  margin-top: 30px;
  text-align: left;
}

.author {
  color: #b1b2b2;
  margin-bottom: 18px;
  // width: 360px;
  // clear: both;

}

.original {
  color: #b1b2b2;
  padding-left: 175px;
}
/******************* Drop down test **********************/

.show-page-nav {
  text-align: left;
  margin-left: 16px;
  margin-top: 3px;
}

/******************* Drop down test **********************/


.site-navigation {
  display: block;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin: 40px;
}

.site-navigation ul {
  background: #3498DB;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.site-navigation li {
  color: #fff;
  background: #3498DB;
  display: block;
  float: left;
  margin: 0 2px 0 0;
  padding: 12px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
  
.site-navigation li a {
  color: #fff;
  text-decoration: none;
  display: block;
}

.site-navigation li:hover {
  @include transition(background, 0.2s);
  background: #FFFFFF;
  cursor: pointer;
}

.site-navigation ul li ul {
  background: #FFFFFF;
  visibility: hidden;
  float: left;
  min-width: 150px;
  position: absolute;
  transition: visibility 0.65s ease-in;
  margin-top:12px;
  left: 0;
  z-index: 999;
}

.site-navigation ul li:hover > ul,
.site-navigation ul li ul:hover {
   visibility: visible;
}

.site-navigation ul li ul li {
  clear: both;
  padding: 5px 0 5px 18px;
  width: 100%;
}

.site-navigation ul li ul li:hover {
  background: #FFFFFF;
}
 
table, tr, td {
  margin-top: 340px;

}


